#!/usr/bin/env python

XMPP = {
    'JID': 'ircbot@example.com/bot',
    'server': 'example.com',
    'port': 5222,
    'password': '********',
    'forward': [('from@example.com', '#channel')]
}

# vim: et ft=python sts=4 sw=4 ts=4
